form {
  margin: auto;
  width: 50%;
}

.movie-card {
  max-width: 250px;
  cursor: pointer;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
}

.movie-image {
  height: 300px;
  object-fit: cover;
}
